<nav>
  <div *ngIf="isLoggedIn" class="route">
    <div class="route-buttons">
      <button routerLink="/home"><a>Home</a></button>
      <button routerLink="/tests"><a>Tests</a></button>
      <button routerLink="/my-tests"><a>My Tests</a></button>
      <button routerLink="/test-create"><a>Create test</a></button>
      <button routerLink="/test-extractor"><a>Extract test</a></button>
    </div>
    <button (click)="logout()" class="logout">Logout</button>
  </div>
</nav>
<router-outlet></router-outlet>
