<h2>Edit Test</h2>
<form *ngIf="test$ | async as test" [formGroup]="form" (ngSubmit)="saveTest()">
    <div *ngIf="!test">
      <p>Test does not exist</p>
    </div>

  <label>Title:</label>
  <input formControlName="title" type="text" [(ngModel)]="test.title" initialValue="test.title" changeTracker/>

  <label>Private:</label>
  <input formControlName="private" type="checkbox" />

  <hr />

  <h3>Questions</h3>
  <div formArrayName="questions">
    <div *ngFor="let question of questionGroups.controls; let i = index" [formGroupName]="i" >
      <label>Question {{ i + 1 }}. </label>
      <input formControlName="questionText" type="text" [value]="question.value.questionText"  />
      <label>Multiple Choice:</label>
      <input formControlName="type" type="checkbox" [checked]="question.value.type === 'mc'"/>

      <br/>

      <label>Answers:</label>
      <div formArrayName="answers">
        <div *ngFor="let answer of answerGroups(i).controls; let j = index"
          [formGroupName]="j">
          <label>{{ j + 1 }}. </label>
          <input formControlName="text" type="text" [(ngModel)]="answer.value.text" />
      
          <ng-container *ngIf="!question.value.type">
            <input  
            type="radio" [value]="j" 
            [checked]="answer.value.correct" 
            (change)="updateCorrectAnswer(question, j)"/>
            <span>Correct Answer</span>
          </ng-container>
          <ng-container *ngIf="question.value.type">
            <input type="checkbox" formControlName="correct" />
            <span>Correct Answer</span>
          </ng-container>

          <button type="button" (click)="removeAnswer(i, j)">
            Remove answer
          </button>
        </div>
        <button type="button" (click)="addAnswer(i)">Add Answer</button>
      </div>
    </div>
  </div>
    <button type="button" (click)="addQuestion()">Add Question</button>
  <button type="submit">Save Test</button>
</form>