<h2>Question Extractor</h2>
<form [formGroup]="form" class="container">
  <div>
    <label for="textInput">Test text:</label>
    <p>
      Each question text and answer must be in one line. Add at least one new
      line between each question.
    </p>
    <p>
      In order to mark the correct answer, add -1, 1 or +1 at the end of the
      answer line.
    </p>
    <textarea
      id="textInput"
      type="text"
      name="textInput"
      aria-multiline="true"
      formControlName="textInput"
    ></textarea>
  </div>
  <button (click)="extractQuestions()">Extract Questions</button>
</form>
