<h2>Create Test</h2>

<form [formGroup]="form" (ngSubmit)="saveTest()">
  <div>
    <label>Title:</label>
    <input formControlName="title" type="text" placeholder="Enter test title" />
  </div>

  <div>
    <label>Private:</label>
    <input formControlName="private" type="checkbox" />
  </div>

  <hr />

  <h3>Questions</h3>
  <div formArrayName="questions">
    <div
      *ngFor="let questionGroup of questionGroups.controls; let i = index"
      [formGroupName]="i"
    >
      <label>Question {{ i + 1 }}:</label>
      <input
        formControlName="questionText"
        type="text"
        placeholder="Enter question"
      />

      <div>
        <label>Multiple Choice:</label>
        <input formControlName="multipleChoice" type="checkbox" />
      </div>

      <label>Answers:</label>
      <div formArrayName="answers">
        <div
          *ngFor="let answerGroup of answerGroups(i).controls; let j = index"
          [formGroupName]="j"
        >
          <input
            formControlName="text"
            type="text"
            placeholder="Enter answer"
          />

          <ng-container *ngIf="!questionGroup.get('multipleChoice')?.value">
            <input
              type="radio"
              [value]="j"
              [checked]="answerGroup.get('correct')?.value"
              (change)="updateCorrectAnswer(questionGroup, j)"
            />
            <span>Correct Answer</span>
          </ng-container>

          <ng-container *ngIf="questionGroup.get('multipleChoice')?.value">
            <input type="checkbox" formControlName="correct" />
            <span>Correct Answer</span>
          </ng-container>

          <button type="button" (click)="removeAnswer(i, j)">
            Remove answer
          </button>

          <hr />
        </div>
        <button type="button" (click)="addAnswer(i)">Add Answer</button>
      </div>
    </div>
  </div>

  <button type="button" (click)="addQuestion()">Add Question</button>

  <button type="submit">Save Test</button>
</form>
