<h2>Test</h2>

<div *ngIf="test">
  <h3>{{ test.title }}</h3>

  <form [formGroup]="form" (ngSubmit)="submitTest()">
    <div *ngFor="let question of test.questions; let i = index">
      <h4>{{ question.questionText }}</h4>
      <div *ngFor="let answer of question.answers; let j = index">
        <label [ngClass]="getAnswerClass(i, j)">
          <input
            type="checkbox"
            [name]="'question-' + question.id"
            [value]="j"
            (change)="selectAnswer(question.id, j)"
            [checked]="isAnswerSelected(question.id, j)"
            [disabled]="!!result"
          />
          {{ answer.text }}
        </label>
      </div>
    </div>

    <div class="button-container">
      <button type="submit" [disabled]="!!result">Submit</button>
      <button type="button" (click)="resetForm()" [disabled]="!result">
        Retry
      </button>
    </div>
  </form>
</div>
